.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.h-100vh {
    height: 100vh;
}

.gap-2 {
    gap: 8px;
}

.gap-3 {
    gap: 16px;
}

.gap-4 {
    gap: 24px;
}

.text-white {
    color: rgb(255, 255, 255) !important;
}

// border
.border-bottom {
    border-bottom: 1px solid rgba(var(--v-theme-borderColor));
}

.opacity-1 {
    opacity: 1 !important;
}

.opacity-50 {
    opacity: 0.5;
}

.z-auto.v-card {
    z-index: auto;
}

.obj-cover {
    object-fit: cover;
}
.index-2{
    z-index: 2;
}

.v-badge--dot {
    &.small-badge {
        .v-badge__badge {
            height: 5px;
            width: 5px;
        }
    }
}




.notify {
    .heartbit {
        position: absolute;
        top: -5px;
        right: -2px;
        height: 18px;
        width: 18px;
        z-index: 10;
        border: 2px solid rgba(var(--v-theme-success));
        border-radius: 70px;
        -moz-animation: heartbit 1s ease-out;
        -moz-animation-iteration-count: infinite;
        -o-animation: heartbit 1s ease-out;
        -o-animation-iteration-count: infinite;
        -webkit-animation: heartbit 1s ease-out;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite
    }
    .point {
        width: 4px;
        height: 4px;
        border-radius: 30px;
        position: absolute;
        right: 5px;
        top: 2px;
        background-color:rgba(var(--v-theme-success));
        position: absolute;
    }

}


@-moz-keyframes heartbit {
    0% {
        -moz-transform: scale(0);
        opacity: 0
    }

    25% {
        -moz-transform: scale(.1);
        opacity: .1
    }

    50% {
        -moz-transform: scale(.5);
        opacity: .3
    }

    75% {
        -moz-transform: scale(.8);
        opacity: .5
    }

    100% {
        -moz-transform: scale(1);
        opacity: 0
    }
}

@-webkit-keyframes heartbit {
    0% {
        -webkit-transform: scale(0);
        opacity: 0
    }

    25% {
        -webkit-transform: scale(.1);
        opacity: .1
    }

    50% {
        -webkit-transform: scale(.5);
        opacity: .3
    }

    75% {
        -webkit-transform: scale(.8);
        opacity: .5
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 0
    }
}
.list-search{
    .mdi-magnify{
        margin-top: 5px;
    }

}