.v-app-bar {
    .v-toolbar__content {
        padding: 0 20px;

        >.v-btn:first-child {
            margin-inline-start: 0;
        }

        .v-btn {
            color: rgba(var(--v-theme-textSecondary), .8) !important;
        }
    }

    &.v-toolbar {
        top: 20px !important;
        background-color: rgba(var(--v-theme-background));
        z-index: 2;
        max-width: 1300px;
        margin: 0 auto;
        left: 0;
        right: 0;
        border-radius: 15px;
        box-shadow: 0 2px 6px rgba(37, 83, 185, 0.1) !important;
    }

    &.sticky{
        top:0 !important
    }
}


.v-toolbar__content {
    max-width: 1300px;
    margin: 0 auto;
    background-color: rgba(var(--v-theme-containerBg));
    border-radius: 18px;
    box-shadow: 0 2px 6px rgba(37, 83, 185, .1) !important;
}

.custom-text-primary {
    &.v-list-item:hover>.v-list-item__overlay {
        display: none;
    }

    .custom-title {
        color: rgb(var(--v-theme-textPrimary)) !important;
    }

    &:hover {
        .custom-title {
            color: rgb(var(--v-theme-primary)) !important;
        }
    }
}

.full-header{
    .v-app-bar.v-toolbar{
        max-width: calc((100% - 270px) - 75px) !important;
    }
    .v-toolbar__content{
        max-width: 100%; 
    }
    
    .horizontal-header{
        &.v-app-bar{
            &.v-toolbar{
                max-width: 100% !important;
            }
            .v-toolbar__content{
                width: 100% !important;
                max-width: 100% !important;
            }
        } 
    }
}

@media screen and (max-width:1600px) and  (min-width:1280px) {
    .v-app-bar.v-toolbar{
        max-width: calc((100% - 270px) - 75px) !important;
    }
}

@media screen and (max-width:1279px) {
    .v-app-bar.v-toolbar{
        max-width: calc(100% - 70px - 0px) !important;
    }
    
}
@media screen and (max-width: 767px){
    .v-app-bar.v-toolbar {
        max-width: calc(100% - 30px - 0px) !important;
    }
}


.header-search {
    width: 100%;
    min-width: 230px;
    max-width: 230px;
    height: 40px;

    .v-field__input {
        padding-top: 0;
    }

    .v-input {
        input::placeholder {
            color: rgb(var(--v-theme-grey100));
            opacity: 1;
            font-size: 13px;
            font-weight: 500;
        }
    }
}