html {
    .bg-success,.bg-primary,.bg-secondary,.bg-warning,.bg-error,.bg-info,.bg-indigo{
        color: white !important;
    }
    .text-h1,.text-h2,.text-h3,.text-h4,.text-h5,.text-h6{
        color: rgb(var(--v-theme-grey200));
    }
}

//Button Bg Shadow
.v-btn--elevated{
    &.bg-primary{
        box-shadow: 0 4px 12px rgba(var(--v-theme-primary),0.3);
    }
    &.bg-secondary{
        box-shadow: 0 4px 12px rgba(var(--v-theme-secondary),0.3);
    }
    &.bg-info{
        box-shadow: 0 4px 12px rgba(var(--v-theme-info),0.3);
    }
    &.bg-error{
        box-shadow: 0 4px 12px rgba(var(--v-theme-error),0.3);
    }
    &.bg-success{
        box-shadow: 0 4px 12px rgba(var(--v-theme-success),0.3);
    }
    &.bg-warning{
        box-shadow: 0 4px 12px rgba(var(--v-theme-warning),0.3);
    }
    &.bg-indigo{
        box-shadow: 0 4px 12px rgba(var(--v-theme-indigo),0.3);
    }
}

.border,
.v-divider {
    border-color: rgba(var(--v-border-color), 1) !important;
}
.v-divider{
    opacity: 1;
}
.avtar-border {
    border: 2px solid rgb(var(--v-theme-surface)) !important;
}
.subtext{
    font-size: $font-size-root;
    line-height: 1.75rem;
}
.border-right {
    border-right: 1px solid rgba(var(--v-border-color), 1) !important;
}
.color-inherit{
    color: inherit;
}
//*Calender font-color*//
.vc-container,.vc-pane-container{
    font-family: inherit !important;
    border-color: rgba(var(--v-border-color), 1) !important;
}
.vc-title{
    color: inherit !important;
}
.vc-select select,.vc-am-pm{
    color: inherit !important;
    background-color: inherit !important;
}
.v-chip--size-x-small{
    --v-chip-height: 22px !important;
    font-size: 12px !important;
}
.line-clamp{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
    max-width: 200px;
}
.v-badge__badge{
    height: 17px;
    width: 17px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: auto;
    padding: 0;
}
.no-scrollbar{
    height: calc(100vh - 315px);
}
.add-class .ps__thumb-x{
    display: none !important;
}